# data-source-service
DATA_SOURCE_SERVICE_PORT=3000
DATA_SOURCE_SERVICE_DOMAIN=localhost
DATA_SOURCE_SERVICE_URL=http://localhost:3000

# producer-service
PRODUCER_SERVICE_PORT=3001
PRODUCER_SERVICE_DOMAIN=localhost
PRODUCER_SERVICE_URL = http://localhost:3001

# JOBS SERVICE
CRON_TIME_CONSUMER_HOUSEHOLD=*/2 * * * * *
CRON_CONSUMER_HOUSEHOLD_ENABLED=1

CRON_TIME_CONSUMER_AREA=*/2 * * * * *
CRON_CONSUMER_AREA_ENABLED=1

CRON_TIME_CONSUMER_ANOMALY=*/2 * * * * *
CRON_CONSUMER_ANOMALY_ENABLED=1

# Kafka config
KAFKA_CLIENT_ID=my-id
BOOTSTRAP_SERVER=server-domain
KAFKA_API_KEY=api-key
KAFKA_API_SECRET=secret-key
REQUEST_TIMEOUT=30000
CONNECTION_TIMEOUT=10000
ALLOW_AUTO_TOPIC_CREATION=0
TRANSACTION_TIMEOUT=60000

## For Redis
REDIS_HOST=localhost
REDIS_PORT=6379